<!DOCTYPE html>
<html ng-app="app14" ng-cloak>
<head>
  <title>AngularJS Tutorial 4</title>
  <style>
  [ng\:cloak], [ng-cloak], .ng-cloak {
     display: none;
   }

   html {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
  }

  .thick {
    font-weight: bold;
 }
  </style>
</head>
<body>


  <div ng-controller="mainCtrl">

    <!-- <input type="text" ng-model="userName" />
      <button ng-click="greetUser(userName)">Hello</button>
      <br><br>

    URL : {{currURL}} <br><br>

    Protocol : {{theProtocol}} <br><br>

    Host : {{currHost}} <br><br>

    Port : {{currPort}} <br><br>

    Path : {{currPath}} <br><br>

    Search : {{currSearch}} <br><br> -->


    Current Time : {{time}} <br><br>

  <!-- Start : 11:15 -->

  </div>




  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <!-- Used to allow some HTML to avoid sanitization -->
  <script src="http:////ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
  <script src="js/exam14.js"></script>
</body>
</html>
